# –û–ø–∏—Å–∞–Ω–∏–µ –∑–∞–¥–∞–Ω–∏—è

1. –†–∞–∑—Ä–∞–±–æ—Ç–∞—Ç—å python-—Å–∫—Ä–∏–ø—Ç –¥–ª—è –∑–∞–≥—Ä—É–∑–∫–∏, –º–∞–ø–ø–∏–Ω–≥–∞ –∏ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö –∏–∑ –∏—Å—Ç–æ—á–Ω–∏–∫–∞ –≤ dds, —Å–æ–≥–ª–∞—Å–Ω–æ –ø–æ—Å—Ç–∞–Ω–æ–≤–∫–µ –æ—Ç –∞–Ω–∞–ª–∏—Ç–∏–∫–∞:\
    a. –≤ –ø—Ä–æ—Ü–µ—Å—Å–µ –∑–∞–≥—Ä—É–∑–∫–∏ –∏—Å–ø—Ä–∞–≤–∏—Ç—å –≤—Å–µ –æ—à–∏–±–∫–∏ –≤ –¥–∞–Ω–Ω—ã—Ö, –æ–±–Ω–∞—Ä—É–∂–µ–Ω–Ω—ã–µ –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–º;\
    –±. –∑–∞–≥—Ä—É–∑–∫—É –≤—ã–ø–æ–ª–Ω—è—Ç—å –ø–æ–ª–Ω–æ–π –ø–µ—Ä–µ–∑–∞–ø–∏—Å—å—é –¥–∞–Ω–Ω—ã—Ö –≤ —Å–ª–æ–µ dds - —É–¥–∞–ª–∏—Ç—å –≤—Å—ë —á—Ç–æ –µ—Å—Ç—å –∏ –∑–∞–≥—Ä—É–∑–∏—Ç—å –Ω–æ–≤–æ–µ;\
    –≤. –æ–±—Ä–∞–±–æ—Ç–∫—É –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–Ω–æ –≤—ã–ø–æ–ª–Ω—è—Ç—å –ø—Ä–∏ –ø–æ–º–æ—â–∏ —Å–ø–µ—Ü–∏–∞–ª–∏–∑–∏—Ä–æ–≤–∞–Ω–Ω–æ–π –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ (–Ω–∞–ø—Ä–∏–º–µ—Ä, pandas), SQL-—Å–∫—Ä–∏–ø—Ç–æ–≤, –ª–∏–±–æ –æ–±—Ä–∞–±–∞—Ç—ã–≤–∞—Ç—å —á–∏—Å—Ç—ã–º –ø–∏—Ç–æ–Ω–æ–º;\
    –≥. –∂–µ–ª–∞—Ç–µ–ª—å–Ω–æ –º–∏–Ω–∏–º–∏–∑–∏—Ä–æ–≤–∞—Ç—å –≤—Ä–µ–º—è –Ω–µ–¥–æ—Å—Ç—É–ø–Ω–æ—Å—Ç–∏ —Å–ª–æ—è dds (–≤—Ä–µ–º—è —Å –º–æ–º–µ–Ω—Ç–∞ —É–¥–∞–ª–µ–Ω–∏—è —Å—Ç–∞—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö –∏ –¥–æ –æ–∫–æ–Ω—á–∞–Ω–∏—è –∑–∞–ø–∏—Å–∏ –Ω–æ–≤—ã—Ö).

2. –†–∞–∑—Ä–∞–±–æ—Ç–∞—Ç—å DAG –¥–ª—è –∑–∞–ø—É—Å–∫–∞ —Å–∫—Ä–∏–ø—Ç–∞ –∑–∞–≥—Ä—É–∑–∫–∏:\
    –∞. —ç—Ç–æ –¥–æ–ª–∂–µ–Ω –±—ã—Ç—å –æ—Ç–¥–µ–ª—å–Ω—ã–π —Å–∫—Ä–∏–ø—Ç, –∫–æ—Ç–æ—Ä—ã–π —Å—á–∏—Ç—ã–≤–∞–µ—Ç –∫–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–∏ –∏ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è –∫ –ë–î –∏ –æ–ø–∏—Å—ã–≤–∞–µ—Ç –∑–∞–¥–∞—á—É (–æ–ø–µ—Ä–∞—Ç–æ—Ä) –¥–ª—è –∑–∞–ø—É—Å–∫–∞ —Å–∫—Ä–∏–ø—Ç–∞ –∑–∞–≥—Ä—É–∑–∫–∏ —Å –Ω—É–∂–Ω—ã–º–∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏.

3. –û—Ä–≥–∞–Ω–∏–∑–æ–≤–∞—Ç—å git-—Ä–µ–ø–æ–∑–∏—Ç–æ—Ä–∏–π:\
    –∞. —Å–æ–∑–¥–∞—Ç—å, –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–∏—Ç—å –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –ø—Ä–∞–≤–∞ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞–º –∏ –º–µ–Ω—Ç–æ—Ä–∞–º, –∑–∞–≥—Ä—É–∑–∏—Ç—å –≤–µ—Å—å –∫–æ–¥ –ø–æ –∑–∞–¥–∞–Ω–∏—è–º 2 –∏ 3\
    –±. —Å—Ç—Ä—É–∫—Ç—É—Ä–∞ —Ä–µ–ø–æ–∑–∏—Ç–æ—Ä–∏—è –¥–æ–ª–∂–Ω–∞ –æ—Ç—Ä–∞–∂–∞—Ç—å –∞—Ä—Ö–∏—Ç–µ–∫—Ç—É—Ä—É —Å–∏—Å—Ç–µ–º—ã.

# 1. –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫

In [1]:
import numpy as np
import pandas as pd
import scipy as sp
from sqlalchemy import create_engine, text
import yaml

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
def get_yaml(path: str) -> dict:
    with open(path) as f:
        params = yaml.load(f, Loader=yaml.FullLoader)
    
    return params

In [3]:
params = get_yaml('./src/params.yaml')['connection']['internship_sources']
engine = create_engine(f"postgresql://{params['user']}:{params['password']}@{params['host']}:{5432}/{params['database']}")
conn = engine.connect()

# 2. –ü–∞—Ä—Å–∏–Ω–≥ —Ç–∞–±–ª–∏—Ü

## 2.1. category

In [22]:
df_cat = pd.read_sql('SELECT * FROM sources.category', conn, index_col='category_id')
df_brand = pd.read_sql('SELECT * FROM sources.brand', conn, index_col='brand_id')

init_shape = df_cat.shape[0]

# –î—É–±–ª–∏–∫–∞—Ç—ã
df_cat.drop_duplicates(ignore_index=False, keep='first', inplace=True)

# ?!
df_cat.drop(axis=1, index=df_cat[df_cat['category_name'].str.contains(r'([?!<>])') == True].index, inplace=True)

# brand (Eng)
# df_cat = df_cat.drop(axis=1, index = df_cat[df_cat['category_name'].str.match(r'.*[–∞-—è–ê-—è].') == False].index)

# brand (All)
df_cat['cat_lower'] = df_cat['category_name'].str.lower()
df_brand['name_lower'] = df_brand['brand'].str.lower()
duplicates_ids = pd.Index(df_cat.reset_index().set_index('cat_lower').join(df_brand.set_index('name_lower'), how="inner")['category_id'].values)
df_cat = df_cat.drop('cat_lower', axis=1)
df_brand = df_brand.drop('name_lower', axis=1)
df_cat.drop(axis=1, index=duplicates_ids, inplace=True)

# –ù–ï –ò–°–ü–û–õ–¨–ó–£–ï–ú
df_cat.drop(axis=1, index=df_cat[df_cat['category_name'] == '–ù–ï –ò–°–ü–û–õ–¨–ó–£–ï–ú'].index, inplace=True)

# –î—É–±–ª–∏–∫–∞—Ç + —Ü–∏—Ñ—Ä–∞ (—Ä–∞–±–æ—Ç–∞ –≤—Ä—É—á–Ω—É—é)
# display(df_cat[df_cat['category_name'].str.contains(r'([0-9])') == True].sort_values('category_name'))

print(f'–ò–∑ —Ç–∞–±–ª–∏—Ü—ã category —É–¥–∞–ª–µ–Ω–æ {init_shape - df_cat.shape[0]} —Å—Ç—Ä–æ–∫, {df_cat.shape[0] / init_shape:.2f}%')

–ò–∑ —Ç–∞–±–ª–∏—Ü—ã category —É–¥–∞–ª–µ–Ω–æ 97 —Å—Ç—Ä–æ–∫, 0.87%

## 2.2. brand üíª

In [202]:
df_brand = pd.read_sql('SELECT * FROM sources.brand', conn, index_col='brand_id')

init_shape = df_brand.shape[0]
# –î—É–±–ª–∏–∫–∞—Ç—ã
df_brand.drop_duplicates(ignore_index=False, keep='first', inplace=True)

# TEVA - 1323 (–Ω–µ –º–µ–Ω—è—Ç—å)
# 1323 - FARBITEX(?)

# 2989 - –ù–µ—Ç (—É–¥–∞–ª–∏—Ç—å)
df_brand.drop(axis=0, index='2989', inplace=True)

print(f'–ò–∑ —Ç–∞–±–ª–∏—Ü—ã brand —É–¥–∞–ª–µ–Ω–æ {init_shape - df_brand.shape[0]} —Å—Ç—Ä–æ–∫, {df_brand.shape[0] / init_shape:.2f}%')

–ò–∑ —Ç–∞–±–ª–∏—Ü—ã brand —É–¥–∞–ª–µ–Ω–æ 20 —Å—Ç—Ä–æ–∫, 0.99%

## 2.3. product ‚úÖ

In [155]:
df_product = pd.read_sql('SELECT * FROM sources.product', conn, index_col='product_id')

init_shape = df_product.shape[0]

# –î—É–±–ª–∏–∫–∞—Ç—ã
df_product.drop_duplicates(ignore_index=False, keep='first', inplace=True)

# Empty pricing_line(empty char)
df_product['pricing_line_id'] = df_product.index.to_series()

# Incorrect name_short
display(df_product[df_product['name_short'].str.match(r'([a-z–∞-—è0-9])')].sort_values(by='name_short').tail())

# NO BRAND
#

# –í–æ–ø—Ä–æ—Å –ø—Ä–æ diff product_id, –Ω–æ –æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ name_short
# df_product[df_product['category_id'] == 'O10']

print(f'–ò–∑ —Ç–∞–±–ª–∏—Ü—ã product —É–¥–∞–ª–µ–Ω–æ {init_shape - df_product.shape[0]} —Å—Ç—Ä–æ–∫, {df_product.shape[0] / init_shape:.2f}%')

                               name_short category_id pricing_line_id brand_id
product_id
24597874                        987983745         O02        24597874     1000
24597895                    –ª–≤–æ—ã–º—å—ã—Ñ–∂–∞–±—ã–≤         O00        24597895     1000
24597873                        –Ω–µ –∑–∞–≤–µ–ª–∏         –û00        24597873     1001
24597875            –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ         O02        24597875     1000
26159416    –ø–∞–Ω–µ–ª—å —Å—Ç–µ–Ω–æ–≤–∞—è –õ–µ—Å–Ω–∞—è –°–∫–∞–∑–∫–∞         K14        26159416     1000

–ò–∑ —Ç–∞–±–ª–∏—Ü—ã product —É–¥–∞–ª–µ–Ω–æ 263 —Å—Ç—Ä–æ–∫, 0.99%

## 2.4. transaction

In [204]:
df_trans = pd.read_sql('SELECT * FROM sources.transaction', conn, index_col='transaction_id')

df_trans

,product_id,recorded_on,quantity,price,price_full,order_type_id
transaction_id,,,,,,
X302021062367268,26191485,23.06.2021 16:41,1,256,270,BUY
X2720210612469927,26191478,12.06.2021 11:01,1,256,270,BUY
X2820210610618712,26191461,10.06.2021 13:15,1,256,270,BUY
X2820210610618712,26191515,10.06.2021 13:15,1,256,270,BUY
X2820210618616123,26191515,18.06.2021 9:57,1,256,270,BUY
...,...,...,...,...,...,...
X2820210625618406,23541788,25.06.2021 20:28,1,498,498,BUY
X2820210605611441,24848077,05.06.2021 9:24,1,256,261,BUY
X2820210627623823,26071220,27.06.2021 15:18,1,232,237,BUY
X2820210619616560,26114378,19.06.2021 12:57,1,29,30,BUY
X28202106296125,23225220,29.06.2021 10:03,1,111,113,BUY

In [212]:
df_trans[df_trans.duplicated() == True]

,product_id,recorded_on,quantity,price,price_full,order_type_id
transaction_id,,,,,,
X3820210615166745,23361591,15.06.2021 17:33,1,8,8,BUY
X2720210612470152,24202978,12.06.2021 15:59,2,39,43,BUY
X2720210605468666,23361591,05.06.2021 13:23,1,8,8,BUY
X3820210609141018,23361591,09.06.2021 13:25,1,8,8,BUY
X3820210605140387,23361591,05.06.2021 10:33,1,8,8,BUY
X2820210606617910,26121024,06.06.2021 15:25,1,15,16,BUY
X3020210619195443,23957879,19.06.2021 20:46,1,139,139,BUY
X2820210609618553,23361591,09.06.2021 16:53,1,8,8,BUY
X2820210619616650,23361591,19.06.2021 15:44,1,8,8,BUY
X2720210614470866,23361591,14.06.2021 11:57,1,8,8,BUY
X2820210614615029,23361591,14.06.2021 15:05,1,8,8,BUY
X362021062721372,23935006,27.06.2021 12:39,1,19,19,BUY

## 2.5. stock